* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  margin: 10px;
  height: 150px;
  width: 150px;
  border: solid 3px black;
  background: #fff;
}

.fill {
  background-image: url('https://source.unsplash.com/150x150/?nature');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  border-color: #fff;
  border-style: dashed;
  background: #333;
}

@media(max-width: 800px) {
  body {
    flex-direction: column;
  }
}